<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parkingmanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SMS_FINANCIAL_TRANSACTIONS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParkingManagement">
        <activity android:name=".AddParking"></activity>
        <activity android:name=".AdminPanel" />
        <activity android:name=".AllBookingsActivity" />
        <activity android:name=".ShowInvoiceActivity" />
        <activity android:name=".CheckAvailabilityActivity" />
        <activity
            android:name=".Payment"
            android:label="Payment Gateway" />
        <activity android:name=".SelectDateTimeActivity" />
        <activity android:name=".SelectBuildingActivity" />
        <activity android:name=".SelectCityActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".UserProfile"
            android:label="@string/user_profile" />
        <activity
            android:name=".ActiveBookings"
            android:label="@string/active_bookings" />
        <activity
            android:name=".PastBookings"
            android:label="@string/past_bookings" />
        <activity
            android:name=".EditProfile"
            android:label="@string/edit_profile" />
        <activity
            android:name=".UpdatePassword"
            android:label="Update Password" />
        <activity
            android:name=".Register"
            android:label="Register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>